<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Hey there</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/" aria-current="true">About</a>
    </nav>
    <main>
      <h1>About this site</h1>
      <p>
        Few items to document:
        <ul>
          <li>How to setup github pages</li>
          <li>How to setup astro</li>
          <li>How to trick astro to produce static sites under /docs</li>
          <li>How to automate deployment using a Makefile</li>
          <li>Edit, iterate. When done, <pre>make</pre> and boom!</li>
        </ul>
      </p>
    </main>
  </body>
</html>
